services:
  - type: web
    name: copia-autenticada-api
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    healthCheckPath: /
    envVars:
      - key: PORT
        value: 3000
      - key: NODE_ENV
        value: production
